* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(30deg, #0e0630 0%, #110074 100%);
}

#calculator {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.616);
  box-shadow: 2px 2px 8px 2px rgba(173, 169, 169, 0.514);
  width: 90%;
  min-height: 60vh;
  max-width: 400px;
  color: white;
  border-radius: 10px;
  gap: 10px;
  padding: 10px 0px;
}

#calculator h1 {
  font-size: clamp(1rem, 3vw, 2rem);
}

#calculator #display {
  min-height: 50px;
  width: 100%;
  max-width: 300px;

  display: flex;
  justify-items: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  border: none; 
  border-radius: 10px;
  background-color: #0e0630;
  color: white;
  outline: none;
  padding: 10px;
}

#buttons {
  width: 100%;
  max-width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}

#buttons .operator {
  background-color: rgba(41, 68, 187, 0.459);
}

#buttons .equal {
  background-color: rgba(66, 68, 75, 0.459);
  grid-column: 3 / 5;
}

#buttons button {
  padding: 10px 0px 10px 0px;
  border-radius: 10px;
  background-color: #1100743f;
  color: white;
  outline: none;
  border: none;
}

#buttons button:hover {
  color: green;
  box-shadow: 2px 3px 8px 2px rgba(24, 94, 10, 0.74);
}

#buttons button:active {
  border: rgba(24, 94, 10, 0.74);
  color: #0e0630;
  background-color: green;
}

#calculator #history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  width: 100%;
  max-width: 300px;
  padding: 5%;
  border-radius: 10px;
  background-color: #0e0630;
}

#history h3 {
  font-size: 0.9em;
  margin-bottom: 5px;
}

#history ul {
  max-height: 60px;
  width: 100%;
  border-radius: 10px;
  padding: 5px;
  overflow-y: auto;
  background-color: #1b0c5fc5;
}
